body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #141216;
  color: white;
}

.font-serif {
  font-family: 'Crimson Text', serif;
}

.font-sans {
  font-family: 'Inter', sans-serif;
}

.text-amber-400 {
  color: #fbbd23;
}
